<footer>
    <div class="row">
        <div class="left">
            <h3 class="about">NOTA:</h3>
            <p class="about__text">
                A BEBIDA ALCOÓLICA PODE CAUSAR DEPENDÊNCIA QUÍMICA E, EM EXCESSO, PROVOCA GRAVES MALES À SAÚDE. A VENDA DE BEBIDAS ALCOÓLICAS É PROIBIDA PARA MENORES DE 18 ANOS. BEBA COM MODERAÇÃO.
            </p>
        </div>
        <div class="right">
            <h3>Siga-Nos</h3>
            <p>  tel:  <span>995190433 </span>         Email: <span>joaomateus2025@gmail.com</span></p>
            <div class="social-media">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-whatsapp'></i></a>
                <a href="#"><i class='bx bxl-instagram' ></i></a>
                
                
            </div>
        </div>
    </div>
    <div class="bottom">
        <p>
            Copyright © 2021 Gordon´s Angola</p>
    </div>
</footer>