<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <!---
        
        <div class="container__message">
            <h1>Beba Com Responsabilidade, Venda Proibida a menores de 18 anos!</h1>
        </div>
    -->
        
        <header class="hero">
            <div class="container spacing">
                <div class="hero-top">
                    <img src="/img/Logo.png" alt="">
                    <div class="hero-top-left">
                        <span><div class="container-counter">
                            <div class="hour col">
                                <div class="hour-number col-text">
                                    <span class="hour-left">0</span>
                                    <span class="hour-right">4</span>
                                </div>
                                <span class="hour-text">Hora</span>
                            </div>
                            <span class="separator">:</span>
                            <div class="minute col">
                                <div class="minute-number col-text">
                                    <span class="minute-left">0</span>
                                    <span class="minute-right">4</span>
                                </div>
                                <span class="minute-text">Minuto</span>
                            </div>
                            <span class="separator">:</span>
                            <div class="second col">
                                <div class="second-number col-text">
                                    <span class="second-left">0</span>
                                    <span class="second-right">4</span>
                                </div>
                                <span class="second-text">Segundo</span>
                            </div>
                        </div> 
                        </span>
                        <span class="t"></span>
                    </div>
                </div>
                <h1 class="primary-title">Gordon's Gin Angola</h1>
                <h1 class="primary-title">LONDON DRY GIM</h1>
                <h4 class="primary-title">IMPORTED</h4>

                
            </div>
        </header>

        <main>
            <!--
            <section class="featured">
                <div class="container">
                    <h2 class="section-title">Nossos Produtos</h2>
                    <div class="split">
                        <a href="/formPagamento?preco=5000&nome_produto=GIM Tónico" class="featured__item">
                            <img src="/img/products/product-1.png" alt="" class="featured__img">
                            <p class="featured__details"><span class="price">500KZ</span>GIM Tónico</p>
                        </a>
                        <a href="/formPagamento?preco=6000&nome_produto=Gordon`s" class="featured__item">
                            <img src="/img/products/product-2.png" alt="" class="featured__img">
                            <p class="featured__details"><span class="price">4.600kz</span>Gordon`s</p>
                        </a>
                        
                        <a href="/formPagamento?preco=20000&nome_produto=Gordon`s Pink" class="featured__item">
                            <img src="/img/products/product-3.png" alt="" class="featured__img">
                            <p class="featured__details"><span class="price">6.000kz</span>Gordon`s Pink</p>
                        </a>
                    
                    </div>
                </div>
            </section>
            -->


            <section class="our-products">
                <div class="container">
                <h2 class="section-title primary-color">Nossos Drink´s</h2>
        
                <article class="product shoe-red spacing">
                    <img src="/img/products/product-1.png" alt="" class="product__image">
                    <h3 class="product__title">Gordon`s</h3>
                    <p class="product__description">Preço: 5000 Kz</br></br> Teor alcoólico: 43% Premiado 4 vezes com royal warrants e uma impressionante seleção de prêmios internacionais de gin
                        750ml</p>
                    <a href="/formPagamento?preco=5000&nome_produto=Gordon`s" class="btn">Comprar</a>
                </article>
        
                <article class="product shoe-white shoe-left spacing">
                    <img src="/img/products/product-2.png" alt="" class="product__image">
                    <h3 class="product__title">Gordon`s Pink</h3>
                    <p class="product__description">Preço: 6000 Kz</br></br>Feito com ingredientes de alta qualidade perfeitamente selecionados balanciando o frescor de gordon´s com a doucura das frutas vermelhas; feito somente usando somente sabores naturais
                        Gin saborizado Teor alcoólico: 37.50%</p>
                    <a href="/formPagamento?preco=6000&nome_produto=Gordon`s Pink" class="btn">Comprar</a>
                </article>
        <!----
                <article class="product shoe-blue spacing">
                    <img src="/img/products/product-3.png" alt="" class="product__image">
                    <h3 class="product__title">SANDÁLIAS INCRÍVELS & ELEGANTES</h3>
                    <p class="product__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quam
                    perspiciatis facilis beatae laudantium quidem enim sit sequi!</p>
                    <a href="/formPagamento?preco=20000&nome_produto=Sandâlia Diva II" class="btn">Compre Agora</a>
                </article>
            -->
                </div>
            </section>

        </main>

        <%- include("./partials/footer.ejs")%>
        <script src="/js/main.js"></script>

    </body>
</html>