<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body class="login-bg">
        
        <h1 class="login-title">Login</h1>
        <div class="login-container">
            <form action="auth" method="post" >
                <div class="input-box">
                    <label for="nome_usuario">Nome Usuário</label>
                    <input type="text" name="nome_usuario" id="nome_usuario" required>
                </div>
                <div class="input-box">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha" required>
                </div>
                <div class="button-group">
                    <a href="#">
                        <button class="btn-login btn-login-outline" type="button">Cancelar</button>
                    </a>
                    <button class="btn-login btn-login-fill" type="submit">Logar</button>
                </div>
            </form>
        </div>

    </body>
</html>